<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.dao.FriendMapper" >
  <resultMap id="BaseResultMap" type="net.novaborn.entity.Friend" >
    <id column="f_id" property="f_id" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="friend_id" property="friend_id" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    f_id, id, friend_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.novaborn.entity.FriendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Friend
    where f_id = #{f_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Friend
    where f_id = #{f_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.novaborn.entity.FriendExample" >
    delete from Friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.novaborn.entity.Friend" >
    insert into Friend (f_id, id, friend_id
      )
    values (#{f_id,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{friend_id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.novaborn.entity.Friend" >
    insert into Friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="f_id != null" >
        f_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="friend_id != null" >
        friend_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="f_id != null" >
        #{f_id,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="friend_id != null" >
        #{friend_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.novaborn.entity.FriendExample" resultType="java.lang.Integer" >
    select count(*) from Friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Friend
    <set >
      <if test="record.f_id != null" >
        f_id = #{record.f_id,jdbcType=INTEGER},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.friend_id != null" >
        friend_id = #{record.friend_id,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Friend
    set f_id = #{record.f_id,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      friend_id = #{record.friend_id,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.novaborn.entity.Friend" >
    update Friend
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="friend_id != null" >
        friend_id = #{friend_id,jdbcType=INTEGER},
      </if>
    </set>
    where f_id = #{f_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.novaborn.entity.Friend" >
    update Friend
    set id = #{id,jdbcType=INTEGER},
      friend_id = #{friend_id,jdbcType=INTEGER}
    where f_id = #{f_id,jdbcType=INTEGER}
  </update>
</mapper>